{% include 'recipes/partials/head.html' %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'recipes/partials/header.html' %}
    <title>{% block title %} {% endblock %}Recipes</title>

</head>
<body>
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% block content %}

            {% endblock %}
        </div>
    </main>

    {% include 'recipes/partials/footer.html' %}
</body>
</html>